[package]
name = "polars_excel_writer"
description = "A Polars extension to serialize dataframes to Excel xlsx files"
authors = ["John McNamara <jmcnamara@cpan.org>"]
repository = "https://github.com/jmcnamara/polars_excel_xwriter"
keywords = ["polars", "excel", "xlsx"]
readme = "README.md"
license = "MIT OR Apache-2.0"
version = "0.1.0"
edition = "2021"


[dependencies]
chrono = "0.4.26"
polars = { version = "0.32.1", features = ["lazy"] }
rust_xlsxwriter = { version = "0.45.0", features = ["chrono"] }


[dev-dependencies]
lazy_static = "1.4.0"
pretty_assertions = "1.3.0"
regex = "1.7.3"
zip = {version = "0.6.4 ", default-features = false, features = ["deflate"]}

[package.metadata.commands]
# Some local package management and release check commands.
# Uses Cargo Commander.

spellcheck = {cmd = [
    "for f in src/*.rs; do aspell --lang=en_US --check $f; done",
    "for f in examples/*.rs; do aspell --lang=en_US --check $f; done",
    "aspell --lang=en_US --check README.md"
]}